/* 共通 */
form {
    border: solid 1px #ddd;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-title {
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}

form > div {
    border-radius: 3px;
    background-color: #f6f6f6;
    vertical-align: middle;
    border: 1px solid #dddddd;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 20px;
}

form > div > div {
    border-radius: 3px;
    padding: 10px 20px;
}

input[type=text], div input[type=email] {
    display: block;
    width: 400px;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select, textarea{
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=radio] {
    margin-left: 25px;
    margin-top: 8px;
}

input[type=submit] ,input[type=button], button{
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #005a7a;
    background-color: #005a7a;
}

input[type=button], button{
    border: 1px solid #6d6d6d;
    background-color: #6d6d6d;
    text-align: center;
}

input[type=submit]:hover{
    background-color: #008dc0;
}

input[type=button]:hover, button:hover{
    border: 1px solid #adadad;
    background-color:#adadad;
}

.submit_btn, .home_btn{ 
    text-align : center ; 
    display: block;
}


.essential{
    color: #fff;
    background: #fb3b6f;
    display: inline-block;
    padding: 2px 5px;
    margin-left:5px;
    border-radius: 2px;
    position: absolute;
    top: 17px;
    right: 10px;
}

label {
    text-align: right;
    font-weight: bold;
    width: 145px;
    float: left;
    position: relative;
    padding: 0 15px;
}