ul.event_lists{
    font-size:0;
}

li.event_list {
	width:calc(100%/ 3);
	display: inline-block;
    vertical-align: top;
    font-size:16px;
    color:#000;
}

.description{
padding-bottom:10px;
}

.event_description{
    width: 90%;
}

.event_list>a{
color:#111;
}

.event_list>a:hover{
color:#d66800;
}

.event_title{
  color: #000000;
  font-weight: 700;
}

.event_date, .event_date_archive{
    color: #005EAD;
    font-weight: 700;
}

.event_date_archive{
  margin-bottom:5px;
}

.label_area01 {
    color: #fff;
    background-color: #56a04c;
}

.label_area02{
  color: #fff;
  background-color: #242d81;
}

.label_area03 {
  color: #fff;
  background-color: #a72222;
}

.label_area04 {
  color: #fff;
  background-color: #b86e00;
}

.place {
    color: white;
    padding: 5px;
    margin: 10px 2px;
    display: table;
    font-size: 12px;
}

.event_list{
    margin:20px 0;
}

/* .top_area{
  display: flex;
} */

.label{
  display:flex;
}



/* プルダウンメニュー */

  .primary_nav > li {
    float:left;
    position:relative;
    margin:15px;
  }

  .secondary_nav {
    position:absolute;
    width:280px;
    display:none;
    z-index:10;
  }
  .secondary_nav li a {
    display:block;
    height:50px;
    padding:0 20px;
    line-height:50px;
    background-color:#fbf8f1;
    color:black;
    border-bottom: 1px solid #e9e4d9;
    transition: all 0.5s;
    text-align: center;
  }
  .secondary_nav li:last-child a {
    border: none;
  }
  .secondary_nav li a:hover {
    background-color: #d6eefa;
  }

.btn{
display: block;
width: 280px;
height: 60px;
line-height: 55px;
color: #000;
font-weight: 700;
text-align: center;
border: 1px #5a5a5a solid;
background-color: #fff;
}

.btn:hover{
color: #fff;
background-color: #111;
}
