@charset "UTF-8";
/* ブレークポイント */
/* ロゴ */
.logo h1 {
  color: #9FD6D2;
  text-shadow: 2px 2px 3px #f00;
  font-size: 2.5rem;
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 10;
  padding: 20px 70px;
  background-image: url(../img/logo01.png);
  background-position: 0% 50%;
  background-size: 80px 75px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .logo h1 {
    color: #000;
    text-shadow: 2px 2px 3px #222;
    font-size: 2.3rem;
    padding: 0;
    background-image: none;
    position: static;
    text-align: center;
    padding: 10px;
    margin-right: 40px;
  }
}

/* スライド */
.slick-dots {
  bottom: 30px;
}

.slick-dotted.slick-slider {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .slick-slider, .loading {
    display: none;
  }
}

/* ヘッダーメニュー */
.header_menu_top ul {
  justify-content: space-around;
  padding: 15px 0;
  background-color: #222;
}

.header_menu_top ul li {
  width: calc((100% - 5px)/2);
}

@media screen and (max-width: 768px) {
  .header_menu_top ul li {
    width: 100%;
  }
}

.header_menu_top ul li a {
  display: block;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .header_menu_top ul li a {
    color: #fff;
    border-right: 1px solid #222;
  }
}

.header_menu_top ul li a:hover {
  color: #b86e00;
  border-bottom: none;
}

.header_menu_top ul li:last-child a {
  border-right: none;
}

/* トピック */
.notice_box {
  width: 100%;
  margin-bottom: 40px;
  background-color: #fff;
}

.notice_box .txtArea {
  text-align: center;
}

.notice_box .top_news, .notice_box .txtArea, .notice_box .top_event {
  padding: 10px;
}

.notice_box h3 {
  color: #fff;
  text-align: center;
  padding: 5px 0;
  background-color: #222;
}
